*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 20px;
  background-color: lightgray;
}

ul > li {
  margin-right: 10px;
}

ul > li > a {
  color: #000;
  text-decoration: none;
}

.footer{
  background-color: lightcoral;
  color: #fff;
  padding: 20px;
}
.footer a{
  text-decoration: none;
  color: #fff;
}
.App{
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;

  justify-content: space-between;
}
button{
  width: 50px;

}